In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import pyproj as pp
import json
from shapely.geometry import Point

In [2]:
train_stations = gpd.read_file(r"D:\NUS\project\LTA_data\point_data\train_stations\train_station_wszone.shp")
fishnet = gpd.read_file(r"C:\Users\YOLO\Desktop\early cases\early_cases_fishnet\fishnet_1km\sg_island_fishnet1km_early_cases_hotspot.shp")

In [3]:
train_stations.columns

Index(['OBJECTID_l', 'STN_NAME', 'PT_CODE1', 'SUBZONE_N', 'geometry'], dtype='object')

In [10]:
subzone = gpd.read_file(r"D:\NUS\project\Singapore_subzone\subzone_2019\MasterPlan_SUBZONE_2019\master-plan-2019-subzone-boundary-no-sea-geojson-polygon.shp")
subzone = subzone.to_crs('epsg:4326')
fishnet = fishnet.to_crs('epsg:4326')

In [11]:
train_stations.geometry[0].coords[0][0]

103.90325246673828

In [12]:
points_geometry = train_stations['geometry']
lon = []
lat = []
for i in range(len(points_geometry)):
    x = points_geometry[i].coords[0][0]
    y = points_geometry[i].coords[0][1]
    x = float(x)
    y = float(y)
    lon.append(x)
    lat.append(y)

In [24]:
stops = train_stations[['OBJECTID_l','STN_NAME','PT_CODE1','SUBZONE_N']]
pts = []
for x,y in zip(lon,lat):
    pts.append(Point(x,y))
    
mrt_stations = gpd.GeoDataFrame(stops, geometry=pts, crs="EPSG:4326")
mrt_stations

,OBJECTID_l,STN_NAME,PT_CODE1,SUBZONE_N,geometry
0,1,EUNOS MRT STATION,EW7,GEYLANG EAST,POINT (103.90325 1.31978)
1,2,CHINESE GARDEN MRT STATION,EW25,LAKESIDE,POINT (103.73260 1.34235)
2,3,KHATIB MRT STATION,NS14,KHATIB,POINT (103.83298 1.41738)
3,4,KRANJI MRT STATION,NS7,TURF CLUB,POINT (103.76217 1.42518)
4,5,REDHILL MRT STATION,EW18,REDHILL,POINT (103.81682 1.28956)
...,...,...,...,...,...
184,0,SPRINGLEAF MRT STATION,TE4,SPRINGLEAF,POINT (103.81850 1.39743)
185,1,LENTOR MRT STATION,TE5,TAGORE,POINT (103.83682 1.38444)
186,2,MAYFLOWER MRT STATION,TE6,KEBUN BAHRU,POINT (103.83686 1.37284)
187,3,BRIGHT HILL MRT STATION,TE7,UPPER THOMSON,POINT (103.83323 1.36320)
188,4,UPPER THOMSON MRT STATION,TE8,UPPER THOMSON,POINT (103.83380 1.35397)

In [26]:
mrt_stations.to_file(r'D:\NUS\project\LTA_data\point_data\train_stations\train_station_wszone.shp')

D:\anaconda\Anaconda\lib\site-packages\geopandas\io\file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

In [25]:
mrt_stations

,OBJECTID_l,STN_NAME,PT_CODE1,SUBZONE_N,geometry
0,1,EUNOS MRT STATION,EW7,GEYLANG EAST,POINT (103.90325 1.31978)
1,2,CHINESE GARDEN MRT STATION,EW25,LAKESIDE,POINT (103.73260 1.34235)
2,3,KHATIB MRT STATION,NS14,KHATIB,POINT (103.83298 1.41738)
3,4,KRANJI MRT STATION,NS7,TURF CLUB,POINT (103.76217 1.42518)
4,5,REDHILL MRT STATION,EW18,REDHILL,POINT (103.81682 1.28956)
...,...,...,...,...,...
184,0,SPRINGLEAF MRT STATION,TE4,SPRINGLEAF,POINT (103.81850 1.39743)
185,1,LENTOR MRT STATION,TE5,TAGORE,POINT (103.83682 1.38444)
186,2,MAYFLOWER MRT STATION,TE6,KEBUN BAHRU,POINT (103.83686 1.37284)
187,3,BRIGHT HILL MRT STATION,TE7,UPPER THOMSON,POINT (103.83323 1.36320)
188,4,UPPER THOMSON MRT STATION,TE8,UPPER THOMSON,POINT (103.83380 1.35397)